@using Library.Models;

<h1>Book Details: </h1>

<h2>Item: @Model["selectedBook"].GetDescription()</h2>


@if (@Model["bookAuthors"].Count != 0)
{
    <h4>This item has these author:</h4>
    <ul>
    @foreach (Author author in @Model["bookAuthors"])
    {
        <li>@author.GetName()</li>
    }
    </ul>
}

<h4>Add a category to this item:</h4>

<form action='/books/@Model["selectedBooks"].GetId()/books/new' method='post'>
    <label for='categoryId'>Select a category</label>
    <select id='categoryId' name='categoryId' type='text'>
    @foreach (var category in @Model["allCategories"])
    {
        <option value='@category.GetId()'>@category.GetName()</option>
    }
    </select>
    <button type='submit'>Add</button>
</form>


<a href='/books/new'>Add another item</a>
<a href='/books/@Model["selectedBooks"].GetId()/edit'>Update item</a>
<a href='/books/@Model["selectedBooks"].GetId()/delete'>Delete this item</a>
<a href='/authors'>View all categories</a>
