@using ToDoList.Models;


@if (@Model["categoryItems"].Count != 0)
{
<h3>Here are all the items in this category:</h3>

<a href="/categories/@Model["category"].GetId()/due_date">Sort by due date</a>
<a href="/categories/@Model["category"].GetId()/description">Sort by name</a>
<ol>
@foreach (var item in @Model["categoryItems"])
{
  <li><a href='/items/@item.GetId()'>@item.GetDescription()</a> Due Date: @item.GetDueDate().ToString("yyyy-MM-dd")</li>
}
</ol>
}

<h4>Add a item to this category:</h4>

<form action='/categories/@Model["category"].GetId()/items/new' method='post'>
  <label for='itemId'>Select a item</label>
  <select id='itemId' name='itemId' type='text'>

    @foreach (var item in @Model["allItems"])
    {
      <option value='@item.GetId()'>@item.GetDescription()</option>
    }

  </select>
  <button type='submit'>Add</button>
</form>

<p><a href='/items/new'>Add a new item</a></p>
<p><a href="/categories/delete">Delete this category</a></p>
<p><a href='/categories'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p>